body, h1, h2, h3, h4, h5, h6, p, a{
  font-family: 'Poppins', sans-serif !important;
}
.header-bg{
  background-color: #ff9ff3;
}
.header-bg-transparent{
  background-color: rgba(255, 0, 253, 0.2);
}
.navbar-nav li a{
  color: #fff !important;
  font-weight: 600 !important;
}
.brand-text{
  color: #4A1E85;
}
.brand-btn{
  background-color: #ff24e2 !important;
  color: #fff !important;
}
.hero-section{
  padding-top: 80px;
  height: 100vh;
}
.hero-section h1{
  font-size: 70px;
}

/**Sidebar**/
.sidebar-section ul li a{
  text-decoration: none;
  color: #4B1E85;
}
.sidebar-section{
  background-color: #c7ecee;
  height: 100%;
}
.dashboard-menu ul li{
  margin: 25px 0;
}

/**Service card**/
.service-card:nth-child(even){
  flex-direction: row-reverse;

}
.service-card:nth-child(even) .card-info{
  text-align: end;
}
.summery{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px
}

.navbar-nav .spacial-menu{
  color: #fed330 !important;
  text-decoration: underline;
}